<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--google font-->
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:700" rel="stylesheet">
	<!--bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!--css styling -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>BURGER BITES!!</title>
		<!--jquery-->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- our burger.js -->
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		
		{{{ body }}}
	</body>
</html>
