li 
{
  padding: 5px;
  margin: 5px;
  color:#1c5e73;
  background: white;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  font-weight: bold;

}
form
{

}

.label 
{
  font-weight: bold;
}
#burgerImg
{
	width:100px;
	margin:5px;
	float:left;
}
.create-update-form 
{
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group 
{
  margin-bottom: 5px;
}


body
{
	background-color: #eeeeee;
	font-family: arial;
}

h1
{
	text-transform: uppercase;
	color:#fc3e44;
	font-family: 'Noto Serif', serif;
	text-shadow: 2px 2px 4px #000000;
}
#title
{
	background-color: #cdeaf3;
}
h2
{
	
	color:#212629;
	text-shadow: 1px 1px #46b8db;
	margin:5px;
	width:100%;
	padding:4px;
	text-align: center;
}

h4
{
	font-size: 12px;
	text-align:center;
	background-color: #3ed3ae;
	color:#212629;
	text-shadow: 1px 1px #46b8db;
	width:80px;
	padding:0px;
	font-family: 'Noto Serif', serif;
	text-shadow: 1px 1px 2px #50c2d9;	
}
.container
{
	margin: 0 auto;
	width:80%
}
#eaten
{
	background-color: yellow;
	color:#f1f1f1;
}
#ca
{
	background-color: #cce2e9;
	border: 1px solid;
    padding: 2px;
}

button
{
	background-color: #cdeaf3;
	color:#466f7c;
	border: 1px solid;
    padding: 2px;
    box-shadow: 1px 2px 3px #888888;
}